html,body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: #F1F1F1;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

h2 {
	font-size: 1.5em;
	margin: 0px 0px 0.5em;
	padding: 0px 0px 0.5em;
	font-weight: 500;
}
/*返回顶*/
#goTopBtn {
	z-index: 998;
	position: fixed;
	line-height: 36px;
	width: 48px;
	bottom: 35px;
	height: 49px;
	cursor: pointer;
	display: none;
	background: url('../Img/gotop.png') repeat scroll 0% 0% transparent;
}
/*上下padding组*/
.padding_tb_o {
	padding-top: 0px;
	padding-bottom: 0px;
}

.padding_tb_x {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding_tb_xx {
	padding-top: 20px;
	padding-bottom: 20px;
}
/*左右padding组*/
.padding_lr_o {
	padding-left: 0px;
	padding-right: 0px;
}

.padding_lr_x {
	padding-left: 10px;
	padding-right: 10px;
}

.padding_lr_xx {
	padding-left: 20px;
	padding-right: 20px;
}
/*标题组*/
/*正常标题大小*/
.norm_title {
	font-size: 16px;
}
/*一般*/
.md_title {
	font-size: 18px;
}
/*大*/
.lg_title {
	font-size: 20px;
}
/*特大*/
.tlg_title {
	font-size: 30px;
}

textarea,.form-control {
	border-radius: 3px;
	border: 1px solid #E7E7E7;
}

span.pull-right>a {
	color: #848484;
}
/*表单*/
#seachkeywords,#seachbutton {
	border-radius: 0px;
	border-color: #fff;
	border-width: 0px;
}

.form-control,.input-group-btn>a,.btn-seach {
	height: 30x;
}
/*分割线 站位div*/
hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cutdiv {
	margin: 15px;
}
/*翻页按钮*/
.pagination li>a.active,.pagination li>a.active:hover,.pagination li>a.active:visited
	{
	background-color: #99CC33;
	border-color: #99CC33;
}

.pagination li>a {
	color: #333;
}
/*默认导航样式*/
.navbar-default {
	background-color: #fff;
	background-image: none;
}
/*内容图片大小*/
img.content_titlepic {
	width: 100%;
}

div.content_titlepic {
	margin-left: -10px;
	margin-right: -10px;
}

#contents img {
	max-width: 100%;
}
/*导航 内容 背景*/
.content,#footer,#footer a,.btn-seach {
	background-color: #fff;
}
/*顶栏*/
.top_bar {
	background-color: #333333;
	height: 26px;
	color: #fff;
	line-height: 26px;
}

.top_bar_ul {
	list-style: none;
}

.top_bar_ul>li {
	float: left;
	font-size: 12px;
	position: relative;
	display: block;
	padding-left: 10px;
	padding-right: 5px;
}
/*顶栏菜单*/
.top_bar_ul li>a {
	color: #B7B7B7;
	cursor: pointer;
}
/*顶栏菜单*/
.top_bar_ul li>a:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
/*顶栏菜单 分隔符*/
.top_bar_ul .top_bar_spiter {
	border-left: 1px solid #585858;
	border-right: 1px solid #2B2B2B;
	display: inline-block;
	height: 26px;
	padding: 0;
	margin: 0;
}
/*下拉菜单*/
.dropdown>ul {
	border-radius: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
/*下拉菜单 li*/
.dropdown-menu>li,.dropdown-menu li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 40px;
	line-height: 40px;
	color: #6F6F6F;
}
/*图片 div*/
.logo_bar {
	background-color: #99CC33;
	height: 90px;
}

.logo {
	margin-top: 30px;
	position: relative;
}

.logo_img,.logo_submit {
	height: 62px;
}

.logo_img>a,.logo_img>a:hover {
	color: #fff;
	text-decoration: none;
}

.logo_img a>h2 {
	margin-top: 10px;
}
/*按钮*/
.btn,.btn-seach {
	border: none;
	border-width: 1px;
	border-radius: 0px;
	font-size: 15px;
}
/*导航头*/
.navbar-brand {
	font-size: 14px;
}
/*二级导航 激活 hover*/
#sub_navbar_main ul li a:hover,#sub_navbar_main ul li.active_nav>a {
	border-bottom: 3px solid #99CC33;
}
/*内容 div*/
.content {
	border: 1px solid #E7E7E7;
}
/*板块标题*/
.content_title {
	padding: 10px;
	color: #333;
}
/*div  阴影*/
#footer,.navbar-default,.content {
	/*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);*/
	box-shadow: none;
}
/*新闻标题图片*/
.news_pic {
	width: 200px;
	height: 146px；
}

.news_right_pic {
	width: 100px;
	height: 70px;
}
/*新闻 排列 div*/
.new_contents {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	min-height: 100px;
	margin-top: 20px;
}

.new_right_content {
	padding-left: 20px;
	padding-right: 0px;
}
/*论坛 排列 div*/
.forum_contents {
	margin-top: 10px;
	margin-bottom: 10px;
}
/*内容列表标题*/
.text-more {
	margin-top: 4px;
	font-size: 16px;
	margin-bottom: 4px;
}
/*附加信息  作者 时间*/
.author,.author>a {
	font-size: 14px;
	color: #848484;
}

.author_right,.author_right>a,.author_right>i {
	font-size: 92%;
}
/*热度标签*/
.hot_tag {
	position: absolute;
	right: 0;
	bottom: 0;
}
/*页脚*/
#footer,#footer a {
	color: #848484;
}

#footer {
	height: 60px;
	line-height: 60px;
	margin-top: 24px;
}
/*论坛头 div*/
.forum_header {
	padding-bottom: 20px;
	vertical-align: middle;
	background-color: #fff;
	font-size: 16px;
	position: relative;
	overflow: visible;
	min-height: 195px;
	margin-bottom: 10px;
}
/*论坛头 标题*/
.forum_title {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 50px;
}
/*论坛排序按钮*/
.btn_forum_orderby {
	border-radius: 1px;
}
/*论坛统计标签*/
.forum_left_tag {
	position: absolute;
	background-color: #99CC33;
	left: -18px;
	top: 50%;
	color: #FFF;
	width: 18px;
	font-size: 12px;
	margin-top: -18px;
	padding: 4px;
}
/*论坛帖子标题*/
.forum_forum_name {
	font-size: 18px;
	color: #848484
}
/*分割线*/
.hr_soil {
	border-bottom: 1px dashed rgb(204, 204, 204);
	margin: 15px;
}
/*分割线  论坛*/
.forum-list-hr {
	margin-left: -22px;
	margin-right: -22px;
}
/*论坛 发帖按钮*/
.btn_forum_newforum {
	height: 40px;
	width: 100%;
	border-radius: 2px;
	font-size: 18px;
	line-height: 40px;
	padding: 0;
}
/*论坛 板块 div*/
.forum_module {
	font-size: 16px;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #FFF;
	color: #333;
	border: 1px solid #E7E7E7;
}
/*论坛板块 title div*/
.forum_module_name {
	height: 20px;
	margin-bottom: 10px;
}

/*论坛板块 板块按钮组*/
.forum_module_btns {
	padding: 6px;
}

.hot_post {
	background-color: #FFF;
	margin-bottom: 10px;
	padding-bottom: 0px;
	border: 1px solid #E7E7E7;
}

.common_block_title {
	padding: 8px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333;
	margin: 5px 0px 10px 15px;
}

.hot_post dt .hot_num {
	padding: 0px 0.5em;
	font-style: normal;
	font-size: 14px;
	display: inline-block;
	font-weight: normal;
}

.hot_post dt>a {
	color: #333;
	font-weight: normal;
}

dl {
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

dl>dt {
	padding-top: 5px;
	padding-bottom: 5px;
}

.position {
	margin: 8px;
}

.post_content .forum_left_operation .btn i {
	background: url('../Img/tiezi.png') repeat scroll 0% 0% transparent;
	display: inline-block;
	width: 19px;
	height: 19px;
}
/*左边标签DIV*/
.forum_left_operation {
	position: absolute;
	left: -50px;
	background: none repeat scroll 0% 0% #FFF;
	border-radius: 3px 0px 0px 3px;
	border: 1px solid;
	border-color: #E7E7E7;
	border-image: none;
	top: -16px;
}

.forum_uncollect {
	background-position: 20px 39px !important;
}

a>i.forum_reply:hover {
	background-position: 20px 0px !important;
}
/*右边标签*/
.ribbion-green {
	position: absolute;
	right: -6px;
	background: none repeat scroll 0% 0% #99CC33;
	width: 50px;
	top: 0px;
	height: 25px;
	text-align: center;
	padding-left: 0px;
	vertical-align: middle;
	color: #FFF !important;
	font-size: 12px;
	line-height: 25px;
}
/*帖子左边标签按钮*/
.post_content .forum_left_operation .forum_collect {
	background-position: 0px 39px !important;
}
/*回复组*/
.lzl {
	display: block;
	padding: 10px;
	margin: 0px 0px 10px;
	font-size: 13px;
	line-height: 1.42857;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.lzl_reply_list {
	list-style: none outside none;
	border-bottom: 1px solid #DDD;
	padding-top: 12px;
	padding-bottom: 8px;
}
/*单条回复 头像*/
.XT_list_avatar {
	width: 40px;
	float: left;
	margin-top: 5px;
}
/*单条回复 内容*/
.XT_list_content {
	float: left;
	margin-left: 10px;
	width: 90%;
}
/*单条回复 剩余数量*/
.XT_reply_count {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 40px;
}
/*单条回复 文本框*/
.show_textarea {
	margin-top: -15px;
	margin-bottom: 10px;
}

.input_tips {
	width: 100%;
	height: 85px;
	display: block;
	overflow-y: auto;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	cursor: text;
	outline: medium none;
	border: 1px solid #DDD;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 1px 1px 3px #DCDCDC inset;
}
/*单条回复 自己的头像*/
.XT_my_avatar {
	width: 40px;
	position: absolute;
	margin-top: 15px;
	margin-right: 10px;
}

.XT_submit {
	width: 100%;
	height: 30px;
	margin-top: 10px;
}

#reply_block {
	margin-bottom: 20px;
}

/*按钮组*/
/*默认按钮*/
.btn
:hover
,
.btn
:active
,
{
color
:
 
#fff
;

    
font-weight
:
 
normal
;


}
.btn-default {
	color: #333;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default
	{
	color: #fff;
	background-color: #99CC33;
	border-color: #99CC33;
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default
	{
	background-image: none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active
	{
	background-color: #99CC33;
	border-color: #99CC33;
	font-weight: normal;
}

.btn-default .badge {
	color: #fff;
	background-color: #333;
}
/*系统配色按钮*/
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active,.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary,.btn-primary .badge
	{
	color: #fff;
	background-color: #99CC33;
	border: 1px solid #99CC33;
	font-weight: normal;
}

.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary
	{
	background-image: none;
}
/**/
/*a 标签 激活  hover*/
#seachbutton,.footer_contac,#footer>a:hover,span.pull-right>a:hover,.pagination li>a:hover,.dropdown-menu li>a:hover,a:hover,dt>a:hover,.forum_title,#nav_ul li.active_nav,#nav_ul li.active_nav>a,#nav_ul li>a:hover,#sub_navbar_main ul>li>a:hover,#sub_navbar_main ul>li.active_nav>a,#seachbutton,.footer_contac,#footer>a:hover
	{
	color: #99CC33;
	text-decoration: none;
}
/*字体颜色*/
.theme_fount_color_p {
	color: #99CC33;
}

.theme_fount_color_r {
	color: #848484;
}
/*头像*/
.avatar-img_xs,.avatar-img_md,.avatar-img_lg {
	border-radius: 100%;
	max-width: 100%;
}

.avatar-img_xs {
	width: 38px;
	height: 38px;
}

.avatar-img_md {
	height: 64px;
	width: 64px;
}

.avatar-img_lg {
	height: 98px;
	width: 98px;
}
/*圆角*/
.btn_radius {
	border-radius: 3px;
}

.popup-gallery {
	word-wrap: break-word;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

code {
	font-size: 80%;
}